body {
    padding: 10px;
}

#new_listing_title {
    text-align: center;
}

#new_listing_form {
    display: flex;
    flex-direction: column;

    max-width: 1000px;
    margin: 20px auto;
}

#new_listing_form #category {
    max-width: 200px;
}

#new_listing_form #starting_bid {
    max-width: 200px;
}

#new_listing_form #submit_btn {
    max-width: 200px;
}